# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages for Data Science
- List of commonly used libraries for Data Science
- Examples of Data Science Tools
- Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java, etc

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. Plotly
3. Leaflet
4. Lattice, etc

|Data Science Tools|
|----|
|Jupyter Notebooks|
|RStudio|
|Github|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# Below is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
round(200/60,2)

3.33

## Author
Tommy Au